body {
  font-family: priori-sans, sans-serif;
}
#AppComponent {
  text-align: center;
  margin: auto;
}
#ResumeComponent {
  width: 1100px;
  /* max-width: 1100px; */
  /* height: 1400px;
  max-height: 1400px; */
  margin: auto;
  border: 1px black solid;
  /* overflow: hidden; */
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 75px;
}
#resumeInnerDiv {
  display: grid;
  grid-template-columns: 250px 850px;
  /* width: 1000px; */
  /* max-width: 1000px;  */
  /* height: 1200px; */
  max-height: 1400px;
  margin: auto;
  /* overflow: hidden; */
  background-color: white;
  background-color: rgba(255, 255, 255, 0.85);
}
#resume-left-column {
  display: grid;
  grid-template-rows: 325px 335px auto;
  overflow: visible;
}
#resume-right-column {
  overflow: visible;
}
#PhotoComponent {
  position: relative;
}
#PhotoComponent .editBtn {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#PhotoComponent:hover .editBtn {
  display: block;
}
#photo {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-color: white;
  z-index: 1;
  border-radius: 50%;
  font-size: 30px;
  margin: 25px 0 0 25px;
}
#ContactComponent {
  position: relative;
  margin: auto 0;
}
#ContactComponent:hover {
  background-color: aquamarine;
}
#ContactComponent .editBtn {
  display: none;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
#ContactComponent:hover .editBtn {
  display: block;
}
#contactCenterBox {
  /* position: absolute; */
  padding: 100px 15px;
}
#contactHeading {
  font-weight: bold;
  margin: 15px 0 10px 0;
}
.contactForm {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cornflowerblue;
  z-index: 1;
  width: 300px;
}
#SkillsComponent {
  position: relative;
  margin: 100px 0;
}
#SkillsComponent:hover {
  background-color: aquamarine;
}
#SkillsComponent .editBtn {
  display: none;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
#SkillsComponent:hover .editBtn {
  display: block;
}
#skillsCenterBox {
  padding: 100px 15px;
}
#skillsHeading {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 15px 0;
  /* font-weight: bold; */
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
.skillsForm {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cornflowerblue;
  z-index: 1;
  width: 300px;
}
#introGroup {
  margin: 50px 0 25px 100px;
}
#NameComponent {
  position: relative;
  padding: 15px;
}
#name {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}
#NameComponent:hover {
  position: relative;
  background-color: aquamarine;
}
#NameComponent .editBtn {
  display: none;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
#NameComponent:hover .editBtn {
  display: block;
}
#TitleComponent {
  position: relative;
  padding: 20px 15px;
}
#TitleComponent:hover {
  position: relative;
  background-color: aquamarine;
}
#TitleComponent .editBtn {
  display: none;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
#TitleComponent:hover .editBtn {
  display: block;
}
#title {
  font-size: 20px;
}
#ProfileComponent {
  position: relative;
  padding: 15px;
}
#ProfileComponent:hover {
  position: relative;
  background-color: aquamarine;
}
#ProfileComponent .editBtn {
  display: none;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
#ProfileComponent:hover .editBtn {
  display: block;
}
#profileHeading {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 15px 0;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
#EducationComponent {
  position: relative;
  padding: 15px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#EducationComponent:hover {
  position: relative;
  background-color: aquamarine;
}
#EducationComponent .editBtn {
  display: none;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
#EducationComponent:hover .editBtn {
  display: block;
}
#EducationHeading {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 15px 0;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  margin: 15px;
}
.schoolEntry {
  position: relative;
  margin: 0 25px;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 200px auto 200px;
}
.schoolEntry .entryEditBtnsDiv {
  display: none;
}
.schoolEntry:hover .entryEditBtnsDiv {
  display: block;
}
.schoolEntry:hover {
  background-color: rgb(185, 247, 226);
}
#ExperienceComponent {
  /* margin: 15px; */
  padding: 20px;
  position: relative;
}
#ExperienceComponent:hover {
  position: relative;
  background-color: aquamarine;
}
#ExperienceComponent .editBtn {
  display: none;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
}
#ExperienceComponent:hover .editBtn {
  display: block;
}
#ExperienceHeading {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 15px 0;
  font-size: 25px;
  margin: 15px;
  font-family: 'Times New Roman', Times, serif;
}
.experienceEntry {
  position: relative;
  margin: 25px;
  /* border: black 1px solid; */
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 50px auto;
  grid-template-areas:
    'expEntryInfo1 expEntryInfo2'
    'expEntryDetail expEntryDetail';
}
.experienceEntry:hover {
  background-color: rgb(185, 247, 226);
}
.expEntryInfo1 {
  grid-area: expEntryInfo1;
  /* border: black 1px solid; */
}
.expEntryInfo2 {
  grid-area: expEntryInfo2;
  /* border: black 1px solid; */
}
.expEntryDetail {
  grid-area: expEntryDetail;
  margin-top: -5px;
  /* border: black 1px solid; */
}
.experienceEntry .entryEditBtnsDiv {
  display: none;
}
.experienceEntry:hover .entryEditBtnsDiv {
  display: block;
}
.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cornflowerblue;
  z-index: 1;
  width: 500px;
}
.inputFieldLabel {
  font-weight: bold;
}
.borderBottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.adderFormHeading {
  font-size: 25px;
}
.entryEditBtnsDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.entryEditBtn {
  width: 100px;
  height: 30px;
  margin: 0 1px;
  border: none;
  background: #b8a2ec;
  color: #ffffff;
  font-family: priori-sans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
}
.editBtn {
  width: 150px;
  height: 50px;
  border: none;
  background: #b8a2ec;
  color: #ffffff;
  font-family: priori-sans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
}
.formBtn {
  margin-top: 15px;
  font-weight: bold;
  background-color: orange;
}
.boldHeading {
  font-weight: bold;
}
.alignLeft {
  text-align: left;
}
#PDFButtonComponent {
  margin-top: 15px;
  width: 100%;
  padding: 10px 0px;
  background-color: yellow;
  width: 1000px;
  border-radius: 10px;
}
