#App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px black solid;
  gap: 5px;
}
#Header {
  background-color: aqua;
  border: 1px black solid;
  width: 100%;
}
#Main {
  border: 1px black solid;
  width: 100%;
}
#Footer {
  background-color: coral;
  border: 1px black solid;
  width: 100%;
}
#Resume {
  display: grid;
  grid-template-columns: 150px auto;
  width: 660px;
  max-width: 660px;
  height: 850px;
  max-height: 850px;
  margin-top: 5px;
}
#left-column {
  display: grid;
  grid-template-rows: 180px 335px auto;
  background-color: cadetblue;
  max-width: 150px;
  overflow: visible;
}
#right-column {
  background-color: bisque;
  overflow: visible;
}
#Print {
  width: 100%;
}
#printBtn {
  width: 660px;
  padding: 10px 0px;
  background-color: yellow;
  border-radius: 10px;
}
#Photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: black 1px solid;
  font-size: 30px;
  margin: 15px 0;
  left: 15%;
  background-size: cover;
  background-position: center;
  background-color: white;
  position: relative;
  text-transform: uppercase;
}
#photoEditBtn {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#Contact {
  background-color: aqua;
  border: black 1px solid;
}
#Skills {
  background-color: bisque;
  border: black 1px solid;
}
#contactEditBtn {
  position: absolute;
  right: 0px;
  top: 0px;
}
#skillsEditBtn {
  position: absolute;
  right: 0px;
  top: 0px;
}
.editBtn {
  position: absolute;
  right: 0px;
  top: 0px;
}
.componentEditForm {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cornflowerblue;
}
.doneBtn {
  margin-top: 15px;
  font-weight: bold;
  background-color: orange;
}
.leftColumnHeader {
  position: relative;
  font-size: 25px;
  font-weight: bold;
}
.inputFieldLabel {
  font-weight: bold;
}
.contactInfoLabel {
  font-weight: bold;
}
.adderFormHeading{
  font-size: 25px;
}
.rightColumnHeader{
  position: relative;
  font-size: 25px;
  font-weight: bold;
}