.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px black solid;
  gap: 2em;
}
.Header {
  background-color: aqua;
  border: 1px black solid;
  width: 100%;
}

.Main {
  background-color: blanchedalmond;
  border: 1px black solid;
  width: 100%;
}

.Footer {
  background-color: coral;
  border: 1px black solid;
  width: 100%;
}
